#container{
    width: 600px;
    height: 600px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    margin-top: 2%;
}

button{
    width: 150px;
    height: 50px;
}

body{
    text-align: center;

}
